
body{
margin: 0;
padding: 0;
font-family: 'Droid Sans', sans-serif;
background: #5b3758;
}

.table td, .table th {
    padding: 5px; }

.btn{
	padding: .175rem .75rem;
}
.btn-success{
    background: #83b692 !important;
}
.btn-danger{
    background: #f9627d !important;
}
.btn-primary{
    background: #4ba3c3 !important; 
  
}

    .table-wrapper {
        background: #ffffff63;
        padding: 20px 25px;
        margin: 30px 0;
        border-radius: 3px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.164);
    }
.table-title {        
    padding-bottom: 15px;
    background: #c65b7c;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h1 {
    margin: 5px 0 0;
}
.table-title .btn {
    float: right;
    margin: 20px;
    
}


